.footer {
    background-color: #111;
    color: #fff;

    padding: 40px 6%;

    text-align: center;
}

.footer h2 {
    margin: 0 0 10px;

    font-size: 22px;

    letter-spacing: 2px;
}

.footer p {
    margin: 0;

    color: #888;

    font-size: 14px;
}